<div class="row">
  <div class="col-md-12">
    <h2>CHANGELOG</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>OCTOBER 2, 2017</h4>
    <p>commit <code>aa108f25b91cd041c10e7c4c9186d9adcc4ecaee</code> - branch <code>origin/develop</code></p>
    <ul>
      <li>added changelog to track recent updates</li>
      <li>added server hostname to footer for debug purposes</li>
    </ul>
    <p>commit <code>dff486020cd927a1f7c1dd2bd76807dc6fb18d0b</code> - branch <code>origin/develop</code></p>
    <ul>
      <li>added calendar view to schedule index, pulls a feed from /series/feed.json</li>
      <li>modified refresh job to only refresh player MMR that is more than 1 hour old</li>
    </ul>
    <p>commit <code>45e2abda4e9a145cd91e47562c04243ff1f678d9</code> - branch <code>origin/develop</code></p>
    <ul>
      <li>added error handling on rules page to not throw a server error when rules are not defined</li>
    </ul>
  </div>
</div>