<div class="row">
  <div class="col-md-12">
    <% if !@rules.contents.nil? %>
      <p><strong>Last modified by <%= @rules.user.personaname %> <%= timeago_tag @rules.updated_at, force: true %></strong></p>
      <%= markdown(@rules.contents) %>
    <% else %>
    <div class="alert alert-danger">
      <p>
        <strong>Heads up!</strong> No rules have been defined for this league. Contact an admin.
      </p>
    </div>
    <% end %>
  </div>
</div>