<div class="row">
  <div class="col-md-12">
    <% if !@staff.contents.nil? %>
        <p><strong>Last modified by <%= @staff.user.personaname %> <%= timeago_tag @staff.updated_at, force: true %></strong></p>
        <%= markdown(@staff.contents) %>
    <% else %>
        <div class="alert alert-danger">
          <p>
            <strong>Heads up!</strong> No staff information has been recorded. Contact an admin.
          </p>
        </div>
    <% end %>
  </div>
</div>