
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.personaname %></h1>
<p>
  A new message has been posted in one of your series. You can click to
  view the message here: <%= @url %>.<br>
</p>
</body>
</html>