/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flag-icon
 *= require bootstrap-toggle
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/glyphicons-halflings-regular.woff') format('woff'),
    url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.pad-15px-bottom {
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*
 * This is so we can view the cog dropdown options on the team page, to prevent them from
 * getting cut off
 */
.media,
.media-body {
    overflow: visible;
}
.media:after,
.media-body:after{
    content:'';
    clear:both;
    display:block;
}

#admin_groups_table td {
    vertical-align: middle !important;
}

#teams_upcoming_matches_table td {
    vertical-align: middle !important;
}

.navbar-nav > li > a {
    line-height: 79px;
}

#home_stats_section > ul {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#home_stats_section > ul > li {
    display: table-cell;
    width: auto;
    text-align: center;
}

#jumbo_logo {
    background-color: #d32f2f !important;
}

#league_footer {
    margin-top: 15px;
}