/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flag-icon
 *= require bootstrap-toggle
 *= require bootstrap-datetimepicker
 *= require font-awesome
 *= require md_simple_editor
 *= require fullcalendar
 *= require jquery-ui
 *= require editable/bootstrap-editable
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../assets/glyphicons-halflings-regular.eot');
    src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/glyphicons-halflings-regular.woff') format('woff'),
    url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.pad-15px-bottom {
    padding-bottom: 15px;
}

.margin-5px-bottom {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*
 * This is so we can view the cog dropdown options on the team page, to prevent them from
 * getting cut off
 */
.media,
.media-body {
    overflow: visible;
}
.media:after,
.media-body:after{
    content:'';
    clear:both;
    display:block;
}

#admin_groups_table td {
    vertical-align: middle !important;
}

#admin_player_table td {
    vertical-align: middle !important;
}

#teams_upcoming_matches_table td {
    vertical-align: middle !important;
}

.navbar-nav > li > a {
    line-height: 79px;
}

#home_stats_section > ul {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#home_stats_section > ul > li {
    display: table-cell;
    width: auto;
    text-align: center;
}

#jumbo_logo {
    background-color: #d32f2f !important;
}

#league_footer {
    margin-top: 15px;
}

#messages {
    max-height: 450px;
    overflow-y: auto;
}

/* hide the stripe button */
.stripe-button-el { display: none !important; }

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
